/*	============================================================
	Button styles
	============================================================ */
.btn {
	&.btn-action {
		background-color: $color_logo_blue;
		color: $color_white;

		&.active,
		&:active {
			background-color: $color_logo_blue;
			color: $color_white;
		}
	}

	&.active,
	&.btn:active {
		outline: 0;
		box-shadow: inset 0 .3rem .5rem rgba(0, 0, 0, .125);
	}

	&.btn-default {
		background-color: var(--ot-white);
		border-color: var(--ot-gray-300);

		&:hover {
			color: var(--ot-primary-gray);
			background-color: var(--ot-gray-100);
			border-color: var(--ot-gray-500);
		}
	}
}