<div class="col-12 col-sm-10 offset-sm-1">
	<h1>Change Password</h1>

	<div class="error mb-3 hidden"></div>

	<form class="signup-form">
		<fieldset>
			<div class="mb-3">
				<label class="form-label" for="password">Current Password</label>
				<input type="password" class="form-control form-control" id="password" name="password" autocomplete="off" required />
			</div>
			<div class="mb-3">
				<label class="form-label" for="new_password">New Password</label>
				<input type="password" class="form-control form-control" id="new_password" name="new_password" autocomplete="off" required />
			</div>
			<div class="mb-3">
				<label class="form-label" for="confirm_password">Confirm New Password</label>
				<input type="password" class="form-control form-control" id="confirm_password" name="confirm_password" autocomplete="off" required />
			</div>
			<div class="form-group">
				<div class="col">
					<button type="submit" class="btn btn btn-primary btn-submit">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>