<div class="col-12 col-sm-10 offset-sm-1">
	<h1>Sign Up</h1>

	<div class="error mb-3 hidden"></div>

	<form class="signup-form">
		<fieldset>
			<div class="mb-3">
				<label class="form-label" for="name">Name</label>
				<Input type="text" class="form-control" id="name" name="name" required />
			</div>

			<div class="mb-3">
				<label class="form-label" for="email">E-mail</label>
				<Input type="email" class="form-control" id="email" name="email" autoComplete="off" required />
			</div>

			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<Input type="password" class="form-control" id="password" name="password" autoComplete="off" required />
			</div>

			<div class="form-group">
				<div class="col">
					<Button type="submit" class="btn btn-primary btn-submit">Submit</Button>
				</div>
			</div>
		</fieldset>
	</form>
</div>